body {
    margin: 38px;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.content-block {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.content {
    flex: 1;
    display: flex;
}

.content-image {
    display: flex;
    flex: 0 0 450px;
    flex-direction: column;
    gap: 38px;
}

.item1 {
    height: 150px;
}

.item2 {
    flex: 0 0 300px;
    margin-right: 30px;
}

.item3 {
    flex: 1 1 1;
    margin-right: 30px;
}

.item6 {
    margin-top: 30px;
}

.text-box {
    padding: 20px;
    padding-top: 0px;
}